<% provide(:title, "問い合わせ") %>
<contact class ="contact_top">
  <h1>問い合わせ</h1>
  <!--<p>-->
  <!--  Contact the Ruby on Rails Tutorial about the sample app at the-->
  <!--  <a href="https://railstutorial.jp/contact">contact page</a>.-->
  <!--</p>-->
  <p>
    不具合や改善した方が良い点がある場合はこちらに連絡をお願いします。<br>
    yujing.329@gmail.com
  </p>
</contact>