<% provide(:title, "連盟一覧") %>
<h1>連盟一覧</h1>
<div class = "row">
<!--<p>  Get help on the Ruby on Rails Tutorial at the-->
<!--  <a href="https://railstutorial.jp/help">Rails Tutorial help section</a>.-->
<!--  To get help on this sample app, see the-->
<!--  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>-->
<!--  book</a>.-->
<!--</p>-->
  <div class = "rentext">
    <h2>ここには載せきれない多くの連盟が存在します。その中でも主要連盟をピックアップします。</h2>
    <h2><a href="http://npb.jp/" target="_blank">
        言わずと知れた日本の国技、プロ野球の連盟サイト</a></h2>
    <h2><a href="https://www.mlb.com/" target="_blank">
        誰もが憧れる世界最上級のリーグ連盟サイト(英語注意)</a></h2>
    <h2><a href="http://www.jaba.or.jp/index.html" target="_blank">
        ノンプロと呼ばれる人たちが切磋琢磨している連盟サイト</a></h2>
    <h2><a href="https://www.jubf.net/" target="_blank">
        学生野球の集大成、今後の進路はどうする大学連盟サイト</a></h2>
    <h2><a href="http://www.jhbf.or.jp/" target="_blank">
        青春の思い出、高校連盟サイト</a></h2>
    <h2><a href="https://littlesenior.jp/" target="_blank">
        金のヒナが活躍する連盟サイト1</a></h2>
    <h2><a href="http://www.boysleague-jp.org/" target="_blank">
        金のヒナが活躍する連盟サイト2</a></h2>
    <h2><a href="http://jllba.com/" target="_blank">
        金の卵が活躍する連盟サイト</a></h2>
    <h2><a href="http://jsbb.or.jp/" target="_blank">
        硬くないボールでもがんばってます連盟サイト</a></h2>
  </div>
</div>