<h1>baseball-lovers</h1>

<p><%= @user.name %>様</p>

<p>
下記のリンクをクリックしてアカウントを有効化してください。
</p>

<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>