<% provide(:title, 'ユーザリスト') %>
<h1>ユーザリスト</h1>

<div class="row">
  <%= will_paginate %>
  
  <h3>現在の登録者数は<%= @users.count %>人です</h3>
  <ul class="users">
    <%= render @users %>
  </ul>
  
  <%= will_paginate %>
</div>