<% provide(:title, 'ユーザリスト') %>
<h1>ユーザリスト</h1>

<div class="row">
  <h3>現在の登録者数は<%= @users.count %>人です</h3>

  <%= will_paginate %>
  
  <ul class="users">
    <%= render @users %>
  </ul>
  
  <%= will_paginate %>
</div>