@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {   /*7.2: デバッグ表示を整形するための追加と、Sassのミックスイン*/
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

img {
max-width : 100% ;
height : auto ;
border: none;
}

/* universal */

body {
  padding-top: 60px;
  background-image: image-url("baseball.jpg");
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

// @media screen and (max-width: 480px) {
// h2 {
// font-size : 75% ;
// margin : 1em 0 0.8em 0 ; }
// p {
// width : 100% ;
// font-size : 65% ;
// margin : 0 0 1.8em 0 ;
// line-height : 1.7 ; }
// }

// @media only screen and (max-width: 767px) {
//   body {
//     background-image: image-url("baseball.jpg");
//   }
// }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: rgba(0,0,0,0);  //背景の透過
  margin: 0px 100px 100px 100px;
  padding: 10px　5px　10px　5px;
  
  h1 {
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 1px 0 #999, //h-shadow v-shadow blur color
    0 2px 0 #999,
    0 3px 0 #999,
    0 4px 0 #999,
    0 5px 0 #999,
    0 6px 0 #000;
  }
}

.row,.col-md-8{
  color: white;
  background-color: rgba(0,0,0,0.5);  //背景の透過
  margin: 0px 100px 100px 100px;
  padding: 10px;
  border-radius: 10px;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: green;
  &:hover {
    color: white;
    background: red;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  text-shadow: 0 1px 0 #999, //h-shadow v-shadow blur color
  0 2px 0 #999,
  0 3px 0 #999,
  0 4px 0 #999,
  0 5px 0 #999,
  0 6px 0 #000;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

h3 {
  color: white;
  text-align: center;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: white;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

#home,#userlist,#login,#profile,#edit,#logout,#acount,#renmei,
.dropdown,.open,.dropdown-toggle,.dropdown-menu,.caret {
  background-color: #8B4513;
  color: white;
  font-weight: bold;
  &:hover {
    background-color: #8B4513;
    color: red;
    font-weight: bold;
    text-decoration: none;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #8B4513;
    color: red;
    font-weight: bold;
    text-decoration: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #8B4513;
}

/* footer */

footer {
  font-size: 20px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: lime;
  a {
    color: lime;
    &:hover {
      color: #D2691E;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }

  /* miscellaneous */
  /*7.2: デバッグ表示を整形するための追加と、Sassのミックスイン*/
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
}

/* sidebar */
/*7.11: SCSSを使ってサイドバーなどのユーザー表示ページにスタイルを与える*/
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      color: white;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
  a {
    color: yellow;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-medium-light;
    color: white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: yellow;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */
/*7.16: ユーザー登録フォームのCSS*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  color: black;
}

input {
  height: auto !important;
}

/*7.22: エラーメッセージにスタイルを与えるためのCSS*/
#error_explanation {
  color: red;
  ul {
    color: yellow;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// 9.22: [remember me] チェックボックスのCSS
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: white;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*マイクロポストの写真選択文字列*/
input.micropost_picture{
  color: black;
}

/*連盟一覧ページテキスト*/
.rentext {
  a{
  color: yellow;
  }
}

/* 検索機能 */
.search {
      margin-left: auto;
}

.shbtn {
  padding: 14px 24px;
  border: 0 none;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: green;
  &:hover {
    color: white;
    background: red;
    text-decoration: none;
  }
}