<footer class="footer">
  <small>
    <!--Created by <a href="#">Yuji Matsumoto</a>-->
    Created by Yuji Matsumoto
  </small>
  <nav>
    <ul>
      <li><%= link_to "サイトについて",   about_path %></li>
      <li><%= link_to "問い合わせ", contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>